body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sideMenuLinkColor{
  color:'white';   
}
.space {
  margin-left: auto;
}

.space2 {
  margin: "10%";
}

.padding {
  margin-right:50%
}

.topContainer{
  display: flex;
  flex-direction: row;
}

.sizeofPic{
   height:12em;
}
.sizeofPic2{
  height:20em;
  
}
.con {
  margin-left: -10.5%;
  size: 100vw;
}

.widthless {
  
  background-color: black}

.wider {
  width: 150%;
}

.nn {
  position: sticky;
}


.title {
  margin-bottom: 0px;
}